@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    margin: 0 auto;
    width: 65%;
}
h1 {
    font-size: 1.6em;
}
.loading{
    margin: 0 auto;
    position:relative;
    top: -1.3em;
    height:180px;
    width:180px;
    background: url('loading.png') no-repeat;
    animation:zoominandout 2s  linear infinite
}
@keyframes zoominandout{
    0%{transform: scale(.9);}
    25%{transform: scale(1);}
    60%{transform: scale(.9);}
    100%{transform: scale(1);}
}
